@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap');

$light-text: rgb(240,240,240);
$dark-text: rgb(20,20,20);

*{
  color: inherit;
  font-display: optional;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

:root {
  color: $dark-text;
}

/* temp values for layout */
body, div {
  border: 1px solid red;
  padding: 5px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
}

.left {
  background: {
    image: url('../images/fredrik-solli-wandem-unsplash.jpg');
    position: center center;
    size: cover;
    color: rgb(32, 35, 44); //fallback if background image fails to load
  }
  position: relative;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light-text;
  .logo {
    margin-top: -50%;
    width: 100%;
    padding: 8px;
    background-color: rgba(50,50,50,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 0;
      font-size: 4rem;
      font-family: "Oswald", "Roboto", sans-serif;
      letter-spacing: -0.2rem;
    }
    img {
      height: 7rem;
    }
  }
  .author {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.7rem;
  }
}

.right {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(235, 235, 240);
  fieldset {
    background-color: white;
  }
}